<%= form_for(user, url: users_admin_index_path(user), data: { remote: true }) do |f| %>
  
<fieldset class="form-group">
</fieldset>

  <div class="form-group row">
    <%= f.label :email, :class => "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password, :class => "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
      <%= f.password_field :password, :class => "form-control" %>
    </div>
  </div>

  <div id="error_explanation">
    <% if user.errors.any? %>
      <% product.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>