<%= form_for(product, data: { remote: true }) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>s
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p>
      <div id="imagePreview"></div>
      <% if !@product['image'].blank? %>
       <%= image_tag @product.image_url, :id => "productImage" %>
      <% end %>
      <%= f.file_field :image, accept: 'image/png, image/gif, image/jpeg, image/jpg', id: 'uploadImage'%>
    </p>
    <fieldset class="form-group">
    
    <div class="form-group row">
      <%= f.label :description, :class => "col-xs-2 col-form-label" %>
      <div class="col-xs-10">
        <%= f.text_field :description, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :price, :class => "col-xs-2 col-form-label" %>
      <div class="col-xs-10">
        <%= f.text_field :price, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :categorie, :class => "col-xs-2 col-form-label" %>
      <div class="col-xs-10">
        <%= f.collection_select( :category_ids, @categories, :id, :name, {}, {:multiple => true}) %>
      </div>
    </div>
    
  </div>
  </fieldset>
  <div class="field">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>