<p id="notice"><%= notice %></p>
<%= link_to 'Categories', categories_path, :class => "btn btn-secondary" %>
<%= link_to 'Add users', new_users_admin_path, :class => "btn btn-secondary" %>
<%= link_to 'New Product', new_product_path, :class => "btn btn-secondary" %>

<h1>Products</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr id="product_<%= product.id%>">
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product, :class => "btn btn-secondary" %></td>
        <td><%= link_to 'Edit', edit_product_path(product), :class => "btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?', remote: true }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>